### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#Observable Trends
###Of the 1163 active players, the vast majority are male (81%). There also exists, a smaller, but notable proportion of female players (18%).
#Our peak age demographic falls between 20-24 (44.79%) with secondary groups falling between 15-19 (18.58%) and 25-29 (13.37%).
#The age group that spends the most money is the 20-24 with 1,114.06 dollars as total purchase value and an average purchase of 4.32. In contrast, the demographic group that has the highest average purchase is the 35-39 with 4.76 and a total purchase value of 147.67###.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.json"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_json(file_to_load)
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Player Count

* Display the total number of players

In [3]:
#Number of Players
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]
#display the total number of players
pd.DataFrame({"Total Players" : [num_players]})

   Total Players
0            573

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Calculations for unique items, average price, purchase count, and revenue
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Item ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# Create data frame with obtained values
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

# Format with currency style
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [5]:
purchase_data["Price"].head()
average = purchase_data["Price"].mean()
average

2.931192307692303

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# The value_counts method counts unique values in a column
#count = purchase_data["Gender"].value_counts()
count = player_demographics["Gender"].value_counts()
percent = count/num_players *100
gender_demographics = pd.DataFrame({"Total Count":count, "Percentage of Players per gender": percent})
gender_demographics

                       Total Count  Percentage of Players per gender
Male                           465                         81.151832
Female                         100                         17.452007
Other / Non-Disclosed            8                          1.396161

In [7]:
# Using GroupBy in order to separate the data into fields according to "Gender" values
#grouped_by_gender_df = purchase_data.groupby(['Gender'])
grouped_by_gender_df = player_demographics.groupby(['Gender'])
grouped_by_gender_df.count()

                        SN  Age
Gender
Female                 100  100
Male                   465  465
Other / Non-Disclosed    8    8


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
num_players = player_demographics.count()[0]
#display the total number of players
pd.DataFrame({"Total Purchase" : [num_players]})

   Total Purchase
0             780

In [9]:
purchase_data["Price"].head()
average_purchase_price = purchase_data["Price"].mean()
average

2.931192307692303

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
# Create the bins in which Data will be held
# Bins are 0-15, 16-30, 31-45, 46-60, 61-75, 76-90.   
#bins = [0, 15, 30, 45, 60, 75, 90]

In [11]:
# Create the names for the four bins
#group_names =["Infant", "Youth", "Adult", "Senior", "Senior2"]

In [12]:
#df = "Resources/purchase_data.json" 
df = pd.read_json(file_to_load)
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [13]:
# Create the bins in which Data will be held
# Bins are 0-15, 16-30, 31-45, 46-60, 61-75, 76-90.   
bins = [0, 15, 30, 45, 60, 75, 90]

# Create the names for the four bins
group_names =["Infant", "Youth", "Adult", "Senior", "Senior1", "Senior2"]

In [14]:
df["Age Category"] = pd.cut(df["Age"], bins, labels=group_names)
df

,Age,Gender,Item ID,Item Name,Price,SN,Age Category
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,Adult
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,Youth
2,34,Male,174,Primitive Blade,2.46,Assastnya25,Adult
3,21,Male,92,Final Critic,1.36,Pheusrical25,Youth
4,23,Male,63,Stormfury Mace,1.27,Aela59,Youth
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,Youth
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,Youth
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,Youth
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,Youth
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,Adult
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,Youth
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,Youth
12,30,Male,81,Dreamkiss,4.06,Iskossa88,Youth
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,Youth
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,Adult
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29,Youth
16,22,Female,123,Twilight's Carver,1.14,Sundista85,Youth
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,Youth
18,28,Male,91,Celeste,3.71,Iskista88,Youth
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,Adult
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83,Youth
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,Infant
22,11,Female,11,Brimstone,2.52,Deural48,Infant
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,Youth
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,Infant
25,21,Male,63,Stormfury Mace,1.27,Idai61,Youth
26,29,Male,132,Persuasion,3.90,Aerithllora36,Youth
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,Adult
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,Infant
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,Youth
...,...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91,Youth
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68,Youth
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68,Infant
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62,Youth
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54,Adult
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66,Youth
756,22,Male,6,Rusty Skull,1.20,Siasri67,Youth
757,35,Male,11,Brimstone,2.52,Seosri62,Adult
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90,Youth
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87,Youth
760,29,Male,81,Dreamkiss,4.06,Aerithllora36,Youth
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33,Youth
762,36,Male,52,Hatred,4.39,Lisosiast26,Adult
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25,Youth
764,25,Male,70,Hope's End,3.89,Assassasda84,Youth
765,15,Male,13,Serenity,1.49,Aerithnucal56,Infant
766,22,Female,84,Arcane Gem,2.23,Nitherian58,Youth
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89,Youth
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93,Youth
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78,Youth
770,22,Male,141,Persuasion,3.27,Aenasu69,Youth
771,24,Male,25,Hero Cane,1.03,Lassista97,Youth
772,15,Male,31,Trickster,2.07,Sidap51,Infant
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63,Youth
774,24,Male,123,Twilight's Carver,1.14,Lassassast73,Youth
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50,Youth
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78,Infant
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30,Youth
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80,Youth
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85,Youth

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
# Count purchases by age group
purchase_count_age = df["Item ID"].count()

# Create new data frame with the added "Age Group" and group it
age_grouped = df.groupby("Age Category").count()["Price"]

# # Format the data frame with no index name in the corner
# age_demographics.index.name = None

# # Format with currency style
# age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
#                                "Total Purchase Value":"${:,.2f}",
#                                "Average Purchase Total per Person":"${:,.2f}"})

In [16]:
age_grouped

Age Category
Infant     110
Youth      565
Adult      105
Senior       0
Senior1      0
Senior2      0
Name: Price, dtype: int64

In [17]:
# # Obtain average purchase price by age group 
avg_purchase_price_age = df.groupby("Age Category")["Price"].mean()

In [18]:
avg_purchase_price_age

Age Category
Infant     2.916091
Youth      2.922425
Adult      2.994190
Senior          NaN
Senior1         NaN
Senior2         NaN
Name: Price, dtype: float64

In [19]:
# # Calculate total purchase value by age group 
total_purchase_value = df.groupby("Age Category")["Price"].sum()

In [20]:
type(total_purchase_value)

pandas.core.series.Series

In [21]:
# # Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/age_grouped

In [22]:
avg_purchase_per_person_age

Age Category
Infant     2.916091
Youth      2.922425
Adult      2.994190
Senior          NaN
Senior1         NaN
Senior2         NaN
Name: Price, dtype: float64

In [23]:
type(avg_purchase_per_person_age)

pandas.core.series.Series

In [24]:
# # Create data frame with obtained values
age_demographics = pd.DataFrame({"Age Category": age_grouped,
                                "Average Purchase Price": avg_purchase_price_age,
                                "Total Purchase Value":total_purchase_value,
                                "avg_purchase_per_person_age":avg_purchase_per_person_age})

In [25]:
age_demographics

,Age Category,Average Purchase Price,Total Purchase Value,avg_purchase_per_person_age
Age Category,,,,
Infant,110,2.916091,320.77,2.916091
Youth,565,2.922425,1651.17,2.922425
Adult,105,2.994190,314.39,2.994190
Senior,0,NaN,0.00,NaN
Senior1,0,NaN,0.00,NaN
Senior2,0,NaN,0.00,NaN

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
# Create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [27]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})